{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <div class="control has-icons-left has-icons-right">

        {% set css_is_danger = '' %}

        {% if errors|length > 0 %}
            {% set css_is_danger = 'is-danger' %}
        {% endif %}

        <input class="input {{ css_is_danger }}"
            type="{{ type }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %}
                value="{{ value }}"
            {% endif %}
        />

        {%- for attrname, attrvalue in attr -%}
            {%- if attrname == 'icon' -%}
                <span class="icon is-small is-left">
                    <i class="fas {{ attrvalue }}"></i>
                </span>
            {%- endif -%}
        {%- endfor -%}

        {% if errors|length > 0 %}
            <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        {% endif %}
    </div>
{%- endblock form_widget_simple -%}

{% block form_errors %}
    {% if errors|length > 0 %}
        <p class="help is-danger">
            {% set error_display = '' %}
            {% for error in errors %}
                {% if error_display is not empty %}
                    {% set error_display = error_display ~ '<br/>' %}
                {% endif %}
                {% set error_display = error_display ~ error.message %}
            {% endfor %}
            {{ error_display | raw }}
        </p>
    {% endif %}
{% endblock form_errors %}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname == 'icon' -%}
            {# #do not output #}
        {%- elseif attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}