{% extends 'frontend_base.html.twig' %}

{% block title %}{% trans from 'frontend' %}forgot_password{% endtrans %}{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-one-third">
            <div class="card p-3 mt-6">
                <header>
                    <p class="card-header-title">
                        {% trans from 'frontend' %}request_reset_password_link{% endtrans %}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">

                        {% if not emailAddressVerified %}
                            <article class="message is-danger">
                                <div class="message-body">
                                    {% trans from 'frontend' %}email_not_verified{% endtrans %}
                                </div>
                            </article>
                            <article class="message is-info">
                                <div class="message-body">
                                    <a href="{{ path('resend_verify_email_address_link') }}">
                                        {% trans from 'frontend' %}resend_email_address_verification_link{% endtrans %} ?
                                    </a>
                                </div>
                            </article>
                        {% endif %}

                        {{ form_start(form) }}

                        <div class="field">
                            {{ form_widget(form.email, {'attr': {'icon': 'fa-envelope'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="field">
                            <div class="control">
                                <a id="back-to-login-link"  href="{{ path('app_login') }}" class="button is-light">
                                    {% trans from 'frontend' %}back_to_login{% endtrans %}
                                </a>
                                <button id="request-link-btn" class="button is-primary ml-2">
                                    {% trans from 'frontend' %}request_link{% endtrans %}
                                </button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
