{% extends 'frontend_base.html.twig' %}

{% block title %}{% trans from 'frontend' %}welcome{% endtrans %}{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-two-thirds ml-3 mt-6">
            <h1 class="title has-text-primary">{% trans from 'frontend' %}welcome{% endtrans %}</h1>
            <h2 class="subtitle">{% trans from 'frontend' %}short_service_description{% endtrans %}</h2>
        </div>
        <div class="column is-one-third">
            <div class="card p-3 mt-6">
                <div class="content">
                    <h3 class="tile is-3">{% trans from 'frontend' %}login{% endtrans %}</h3>

                    {% if showEmailAddressChangedHint is defined and showEmailAddressChangedHint %}
                        <article class="message is-primary success_message">
                            <div class="message-body">
                                {% trans from 'frontend' %}changed_email_address_hint{% endtrans %}
                            </div>
                        </article>
                    {% endif %}

                    {% for successMessage in app.flashes('success_message')%}
                        <article class="message is-primary success_message">
                            <div class="message-body">
                                {{ successMessage }}
                            </div>
                        </article>
                    {% endfor %}

                    {% for errorMessage in app.flashes('error_message')%}
                        <article class="message is-danger error_message">
                            <div class="message-body">
                                {{ errorMessage }}
                            </div>
                        </article>
                    {% endfor %}

                    {% if loginError is defined and loginError is not empty %}
                        <article class="message is-danger error_message">
                            <div id="login-error-message" class="message-body">
                                {{ loginError }}
                            </div>
                        </article>
                    {% endif %}

                    {% if showResendEmailAddressVerificationLink is defined and showResendEmailAddressVerificationLink %}
                        <article class="message is-info">
                            <div id="email-address-resent-hint" class="message-body">
                                <a href="{{ path('resend_verify_email_address_link') }}">
                                    {% trans from 'frontend' %}resend_email_address_verification_link{% endtrans %} ?
                                </a>
                            </div>
                        </article>
                    {% endif %}

                    {{ form_start(loginForm, {'action': path('app_login')}) }}

                    <div class="field">
                        {{ form_widget(loginForm.email, {'attr': {'icon': 'fa-envelope'}}) }}
                    </div>

                    <div class="field">
                        {{ form_widget(loginForm.password, {'attr': {'icon': 'fa-key'}}) }}
                    </div>

                    <div class="field">
                        <div class="control">
                            <a id="forgot-password-link" href="{{ path('forgot_password') }}" class="button is-light">
                                {% trans from 'frontend' %}forgot_password{% endtrans %}
                            </a>
                            <button id="login-btn" class="button is-primary ml-2">{% trans from 'frontend' %}login{% endtrans %}</button>
                        </div>
                    </div>

                    {{ form_end(loginForm) }}

                    <hr />

                    <h3 class="tile is-3">{% trans from 'frontend' %}register{% endtrans %}</h3>
                    {{ form_start(registerForm, {'action': path('user_register')}) }}

                    <div class="field">
                        {{ form_widget(registerForm.email, {'attr': {'icon': 'fa-envelope'}}) }}
                        {{ form_errors(registerForm.email) }}
                    </div>

                    <div class="field">
                        {{ form_widget(registerForm.password.first, {'attr': {'icon': 'fa-key'}}) }}
                        {{ form_errors(registerForm.password.first) }}
                    </div>

                    <div class="field">
                        {{ form_widget(registerForm.password.second, {'attr': {'icon': 'fa-redo'}}) }}
                        {{ form_errors(registerForm.password.second) }}
                    </div>

                    <div class="field">
                        <div class="control">
                            <button id="register-btn" class="button is-primary">{% trans from 'frontend' %}register{% endtrans %}</button>
                        </div>
                    </div>

                    {{ form_end(registerForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
