{% extends 'frontend_base.html.twig' %}

{% block title %}{% trans from 'frontend' %}reset_password{% endtrans %}{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-one-third">
            <div class="card p-3 mt-6">
                <header>
                    <p class="card-header-title">
                        {% trans from 'frontend' %}reset_password{% endtrans %}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">

                        {{ form_start(form) }}

                        <div class="field">
                            {{ form_widget(form.password.first, {'attr': {'icon': 'fa-key'}}) }}
                            {{ form_errors(form.password.first) }}
                        </div>

                        <div class="field">
                            {{ form_widget(form.password.second, {'attr': {'icon': 'fa-redo'}}) }}
                            {{ form_errors(form.password.second) }}
                        </div>

                        <div class="field">
                            <div class="control">
                                <a href="{{ path('app_login') }}" class="button is-light">
                                    {% trans from 'frontend' %}back_to_login{% endtrans %}
                                </a>
                                <button id="reset-btn" class="button is-primary ml-2">{% trans from 'frontend' %}reset{% endtrans %}</button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
