{% extends 'frontend_base.html.twig' %}

{% block title %}{% trans from 'frontend' %}update_credentials{% endtrans %}{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-one-third">
            <div class="card p-3 mt-6">
                <header>
                    <p class="card-header-title">
                        {% trans from 'frontend' %}update_credentials{% endtrans %}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">

                        {% if successMessage is not empty %}
                            <article class="message is-primary">
                                <div class="message-body">
                                    {{ successMessage }}
                                </div>
                            </article>
                        {% endif %}

                        {{ form_start(form) }}

                        <div class="field">
                            {{ form_widget(form.email, {'attr': {'icon': 'fa-envelope'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="field">
                            {{ form_widget(form.password.first, {'attr': {'icon': 'fa-key'}}) }}
                            {{ form_errors(form.password.first) }}
                        </div>

                        <div class="field">
                            {{ form_widget(form.password.second, {'attr': {'icon': 'fa-redo'}}) }}
                            {{ form_errors(form.password.second) }}
                        </div>

                        <div class="field">
                            <div class="control">
                                <a href="{{ path('user_info') }}" class="button is-light">
                                    {% trans from 'frontend' %}back{% endtrans %}
                                </a>
                                <button id="update-btn" class="button is-primary">
                                    {% trans from 'frontend' %}update{% endtrans %}
                                </button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
