{% extends 'backend_base.html.twig' %}

{% block title %}
    {% trans from 'backend' %}title_app_admin_administration{% endtrans %}
{% endblock %}

{% block pageHeader %}
    <h1 class="title has-text-primary">{% trans from 'backend' %}title_app_admin_administration{% endtrans %}</h1>
{% endblock %}

{% block body %}
    {% include 'admin/pagination/header.html.twig'
        with {'filterQuery': filterQuery, 'maxResultsPerPage': maxResultsPerPage, 'showNoResultsHint': showNoResultsHint} only
    %}
    <table id="pagination-table" class="table is-bordered is-striped">
        <thead>
            <tr>
                {% include 'admin/pagination/sortableHeadColumn.html.twig'
                    with {'columnLabel': 'email'|trans({}, 'backend'), 'sortField': 'u.email'} only
                %}
                {% include 'admin/pagination/sortableHeadColumn.html.twig'
                    with {'columnLabel': 'created_at'|trans({}, 'backend'), 'sortField': 'u.createdAt'} only
                %}
                {% include 'admin/pagination/sortableHeadColumn.html.twig'
                    with {'columnLabel': 'active'|trans({}, 'backend'), 'sortField': 'u.active'} only
                %}
            </tr>
        </thead>
        <tbody>
            {% for user in paginator %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.createdAt|date("d.m.Y") }}</td>
                <td>
                    <input type="checkbox" {% if user.active %}checked="checked"{% endif %}>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'admin/pagination/footer.html.twig'
        with {'page': page, 'maxPage': maxPage} only
    %}
{% endblock %}