{% extends 'backend_base.html.twig' %}

{% block title %}
    {% trans from 'backend' %}title_admin_dashboard{% endtrans %}
{% endblock %}

{% block pageHeader %}
    <h1 class="title has-text-primary">{% trans from 'backend' %}title_admin_dashboard{% endtrans %}</h1>
{% endblock %}

{% block body %}

{% endblock %}