<nav class="pagination" role="navigation" aria-label="pagination">
    {% if page > 1 %}
        <a id="previous-page-btn" class="pagination-previous">
            {% trans from 'backend' %}next_page_label{% endtrans %}
        </a>
    {% endif %}

    {% if page < maxPage %}
        <a id="next-page-btn" class="pagination-next">
            {% trans from 'backend' %}previous_page_label{% endtrans %}
        </a>
    {% endif %}

    <ul class="pagination-list">

        {% if page > 4 %}
            <li>
                <a class="pagination-link set-page-btn">1</a>
            </li>
        {% endif %}

        {% if page > 5 %}
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
        {% endif %}

        {% for i in (page-3)..(page+3) %}
            {% if i > 0 and i < maxPage %}
                <li>
                    <a class="pagination-link set-page-btn {% if i == page %}is-current{% endif %}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page + 3 < maxPage - 1 %}
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
        {% endif %}

        <li>
            <a class="pagination-link set-page-btn {% if maxPage == page %}is-current{% endif %}">
                {{ maxPage }}
            </a>
        </li>
    </ul>
</nav>