<div class="columns">
    <div class="column is-three-quarters">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" id="table-search"
                       value="{{ filterQuery }}"
                       placeholder="{% trans from 'backend' %}search_list_placeholder{% endtrans %}"
                       title="{% trans from 'backend' %}press_enter_to_finish_input_hint{% endtrans %}"
                >
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>
    <div class="column is-one-quarter">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input"
                       id="table-max-results-per-page"
                       value="{{ maxResultsPerPage }}"
                       placeholder="{% trans from 'backend' %}max_results_per_page_placeholder{% endtrans %}"
                       title="{% trans from 'backend' %}press_enter_to_finish_input_hint{% endtrans %}"
                >
                <span class="icon is-small is-left">
                    <i class="fas fa-list-ol"></i>
                </span>
            </p>
        </div>
    </div>
</div>
{% if showNoResultsHint %}
    <article class="message is-danger">
        <div class="message-body">
            {% trans from 'backend' %}no_results_found_message{% endtrans %}
        </div>
    </article>
{% endif %}