<th data-sortField="{{ sortField }}">
    {{ columnLabel }}
    <a class="sort-asc-btn">
        <span class="icon"><i class="fas fa-arrow-up"></i></span>
    </a>
    <a class="sort-desc-btn">
        <span class="icon"><i class="fas fa-arrow-down"></i></span>
    </a>
    <a class="sort-clear-btn">
        <span class="icon"><i class="fas fa-ban"></i></span>
    </a>
</th>