#admin-page-content {
  margin-left: 0;
  margin-right: 2em;
  max-width: none;
}

#admin-page-header {
  padding: 10px;
}
#admin-page-body {
  min-height: 650px;
}

#pagination-table th a {
  color: #a9a9a9;
}

#pagination-table th a.sort-active {
  color: #3273dc;
}