<html>
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}no title{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('backend') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('backend') }}
    {% endblock %}
</head>
<body>
    <div id="app">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="/ober_brand.png">
                </a>
            </div>

            <div id="admin-navigation" class="navbar-menu">
                <div class="navbar-start">

                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {{ app.user.email }}
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a id="logout-btn" class="button is-light" href="{{ path('app_logout') }}">
                                {% trans from 'frontend' %}logout{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="main-content columns is-fullheight">

            <aside class="column is-one-fifth is-fullheight section">
                <ul class="menu-list">
                    <li>
                        <a href="{{ path('admin_dashboard') }}"
                           class="{% if app.request.uri matches '/dashboard/' %}is-active{% endif %}"
                        >
                            <span class="icon"><i class="fas fa-home"></i></span>
                            {% trans from 'backend' %}title_admin_dashboard{% endtrans %}
                        </a>
                    </li>
                </ul>
                <p class="menu-label is-hidden-touch">{% trans from 'backend' %}menu_section_users{% endtrans %}</p>
                <ul class="menu-list">
                    <li>
                        <a href="{{ path('admin_app_admin_list') }}"
                           class="{% if app.request.uri matches '/appAdmin/' %}is-active{% endif %}"
                        >
                            <span class="icon"><i class="fas fa-users-cog"></i></span>
                            {% trans from 'backend' %}title_app_admin_administration{% endtrans %}
                        </a>
                    </li>
                </ul>
            </aside>

            <div id="admin-page-content" class="container column">
                <div class="section">

                    <div class="card">
                        <div id="admin-page-header" class="card-header">
                            {% block pageHeader %}{% endblock %}
                        </div>
                        <div id="admin-page-body" class="card-content">
                            <div class="content">
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer class="footer is-hidden">
            <div class="container">
                <div class="content has-text-centered">
                    <p>Hello</p>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>