<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('frontend') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('frontend') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="/ober_brand.png">
                </a>

                {% if is_granted(constant('App\\Entity\\User::ROLE_USER')) %}
                    <a id="main-navigation-toggle" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavigation">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>

            <div id="main-navigation" class="navbar-menu">
                {% if is_granted(constant('App\\Entity\\User::ROLE_USER')) %}
                    <div class="navbar-start">
                        <a class="navbar-item">
                            {% trans from 'frontend' %}book_table{% endtrans %}
                        </a>
                        <a class="navbar-item">
                            {% trans from 'frontend' %}my_orders{% endtrans %}
                        </a>
                        <a class="navbar-item" href="{{ path('update_credentials') }}">
                            {% trans from 'frontend' %}credentials{% endtrans %}
                        </a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                {% if is_granted(constant('App\\Entity\\User::ROLE_USER')) %}
                                    <a id="admin-btn" class="button is-primary" href="{{ path('admin_dashboard') }}">
                                        {% trans from 'frontend' %}admin{% endtrans %}
                                    </a>
                                {% endif %}
                                <a id="logout-btn" class="button is-light" href="{{ path('app_logout') }}">
                                    {% trans from 'frontend' %}logout{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
