<h2>Wilkommen bei Ober</h2>

<p>
    Danke, dass du dich bei Ober registriert hast. Bitte bestätige noch deine Emailadresse,<br/>
    indem du auf diesen <a href="{{ verificationLink }}">Link</a> klickst.
</p>